:root{
    --blue: #0A0C19;
    --dark-violet: #1B1938;
    --violet: #AA5CDB;
    --white: #fff;
    --off-white: #dcdcdc;
    --primary-font:'Inter', sans-serif;
    --secondary-font:'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60vh;
    width: 70%;    
    display: flex;
    overflow: hidden;
    border-radius: 10px;    
}

.card-text > h1 {
    margin-bottom: 25px;
}

.card-text > h1 > span {
    color: var(--violet); 
}

.card-details {
    height: 100%;
    width: 50%;
    background: var(--dark-violet);
    color: var(--white);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
.card-image {
    height: 100%;
    width: 50%;
    background: green;
}

.card-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;    
}

.card-stats {
    display: flex;
    gap: 25px;
}


@media only screen and (max-width: 1100px) {
    .card-image {
        width: 25%;
    }

    .card-details{
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        flex-direction: column-reverse;
        height: 90vh;
    }
    .card-image {
        width: 100%;
    }  
    .card-details{
        width: 100%;
    }  
}

@media only screen and (max-width: 500px) {
        
    .card-details{
        height: 70%;
        padding: 25px;
    }

    .card-text > h1 {
        margin-bottom: 0px;
        font-size: 1.5rem;
    }

    .card-image {
        height: 30%;
    } 

}  
